<div class="card">
  <div class="card-header">
    <h1>
      Listagem das Pessoas
    </h1>
  </div>

  <br>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- idPess Column -->
    <ng-container matColumnDef="idPess">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let pessoafisica"> {{pessoafisica.idPess}} </td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let pessoafisica"> {{pessoafisica.nome}} </td>
    </ng-container>

       <!-- cpf Column -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF </th>
      <td mat-cell *matCellDef="let pessoafisica"> {{pessoafisica.cpf}} </td>
    </ng-container>

    <!-- Sexo Column -->
    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef> Sexo </th>
      <td mat-cell *matCellDef="let pessoafisica"> {{pessoafisica.sexo}} </td>
    </ng-container>

    <!-- idade Column -->
    <ng-container matColumnDef="idade">
      <th mat-header-cell *matHeaderCellDef> Idade </th>
      <td mat-cell *matCellDef="let pessoafisica"> {{pessoafisica.idade}} </td>
    </ng-container>

    <!-- Escolaridade Column -->
    <ng-container matColumnDef="grauEsco">
      <th mat-header-cell *matHeaderCellDef> Escolaridade </th>
      <td mat-cell *matCellDef="let pessoafisica"> {{pessoafisica.curriculo.grauEsco}} </td>
    </ng-container>

    <!-- Formação Column -->
    <ng-container matColumnDef="formaAcade">
      <th mat-header-cell *matHeaderCellDef> Formação Acadêmica </th>
      <td mat-cell *matCellDef="let pessoafisica"> {{pessoafisica.curriculo.formaAcade}} </td>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> AÇÕES </th>
      <td mat-cell *matCellDef="let pessoafisica">
        <div>
          <button style="margin-right: 5px" mat-raised-button (click)="editarPessoaFisica(pessoafisica)" color="primary"> Editar </button>
          <button mat-raised-button color= "warn" (click)="deletarPessoaFisica(pessoafisica)"> Deletar Conta </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>

